<template>
  <div class="ad_warp">
    <!-- 标题时间 -->
    <headers :inputName="titimgNum"></headers>
    <!-- 标题下面 -->
    <div class="ad_box">
      <div class="ad_box_left">
        <div class="eltree_box">
          <el-tree
            :data="treeData"
            :props="defaultProps"
            :default-expand-all="true"
          ></el-tree>
          <!-- @node-click="handleNodeClick" -->
        </div>
      </div>
      <div class="ad_box_right">
        <!-- 上按钮 -->
        <div class="zh_btntop">
          <div
            :class="xzNum == 3 ? 'zh_btn zh' : 'zh_btn'"
            @mouseover="mouseOver(3)"
            @mouseleave="mouseLeave"
            @click="tz(3)"
          ></div>
          <div
            :class="xzNum == 5 ? 'zh_btnsj zhsj' : 'zh_btnsj'"
            @mouseover="mouseOver(5)"
            @mouseleave="mouseLeave"
            @click="tz(5)"
          ></div>
        </div>
        <div class="bot_table">
          <div class="per_cenBot_ribot">
            <div class="table_bt">
              <span>车体号</span>
              <span>所属单位</span>
              <span>摩托小时</span>
              <span>油量消耗</span>
              <span>弹量消耗</span>
              <span>行驶里程(公里)</span>
              <span>动用日期</span>
              <span>是否故障</span>
              <span>是否在线</span>
            </div>
            <div class="table_cenwarp">
              <div class="sj">
                <div
                  style="height: 30px"
                  v-for="(item, i) in personData"
                  :key="i"
                  :class="[i % 2 == 1 ? 'sj_ys' : '']"
                >
                  <span>{{ item.car_id }}</span>
                  <span>{{ item.name }}</span>
                  <span>{{ item.motor_hour | curreny }}</span>
                  <span>{{ item.oil_use | curreny }}</span>
                  <span>{{ item.egg_use }}</span>
                  <span>{{ item.drive_distance | curreny }}</span>
                  <span>{{ item.date }}</span>
                  <span v-if="Number(item.is_avalible)">
                    <i class="nogz"></i>
                  </span>
                  <span v-else>
                    <i class="yesgz"></i>
                  </span>
                  <span v-if="Number(item.is_alive)"><i class="nogz"></i></span>
                  <span v-else>
                    <i class="noxx"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mq :params="params" @dataChange="dataChange" />
  </div>
</template>

<script>
import headers from "../../components/header/index.vue";
import mq from "../../components/mq.vue";
import {
  yunwangPushOne,
  yunwangPushMulty,
  yunwangonOffoff,
  yunwangonOffon,
  yunwanggetVehicle,
  yunwanggetUnit,
} from "../../api/index.js";
export default {
  props: {},
  components: { headers, mq },
  data() {
    return {
      titimgNum: 0,
      xzNum: 99,
      personData: [],
      moreSelect: 0,
      params: {
        mqttIP: "192.168.10.34",
        mqttD: 61614,
        subscribeName: "yunWang",
        userId: "name" + Math.random() * 5000,
      },
      treeData: [
        {
          label: "东部战区",
          children: [],
        },
        {
          label: "南部战区",
          children: [],
        },
        {
          label: "西部战区",
          children: [],
        },
        {
          label: "北部战区",
          children: [],
        },
        {
          label: "中部战区",
          children: [],
        },
        {
          label: "西藏战区",
          children: [],
        },
      ],
      defaultProps: {
        children: "children",
        label: "label",
      },
    };
  },
  filters: {
    curreny: function (data) {
      data = Number(data).toFixed(2);
      return data;
    },
  },
  mounted() {
    this.getAlllt();
    this.getAllcl();
  },
  methods: {
    dataChange(data) {
      let dataPay = data.payloadString;
      if (dataPay == "Hello") return;
      console.log(JSON.parse(dataPay), "mqtt");
      this.personData.unshift(JSON.parse(dataPay));
      if(this.personData.length > 40){
        this.personData.pop();
      }
    },
    getAlllt() {
      yunwanggetUnit({ limit: 0 }).then((res) => {
        if (res.status == 200) {
          res.data.forEach((item) => {
            if (item.region == "东部") {
              this.treeData[0].children.push({ label: item.name });
            }
            if (item.region == "南部") {
              this.treeData[1].children.push({ label: item.name });
            }
            if (item.region == "西部") {
              this.treeData[2].children.push({ label: item.name });
            }
            if (item.region == "北部") {
              this.treeData[3].children.push({ label: item.name });
            }
            if (item.region == "中部") {
              this.treeData[4].children.push({ label: item.name });
            }
            if (item.region == "西藏") {
              this.treeData[5].children.push({ label: item.name });
            }
          });
        }
      });
    },
    getAllcl() {
      yunwanggetVehicle({ limit: 0 }).then((res) => {
        if (res.status == 200) {
          this.personData = res.data.splice(res.data.length - 25);
          console.log(res.data,this.personData)
        }
      });
    },
    tz(val) {
      switch (val) {
        case 3: {
          this.dtSend();
          break;
        }
        case 5: {
          this.moreTiao();
          break;
        }
      }
    },
    dtSend() {
      if (this.moreSelect && this.xzNum == 5) {
        this.$message.warning("请先关闭模拟多条发送接口！");
      } else {
        yunwangPushOne().then((res) => {
          if (res.status == 200) {
            this.$message.success(res.data.result);
          }
        });
      }
    },
    moreTiao() {
      if (this.moreSelect) {
        // 该关闭了
        yunwangonOffoff().then((res) => {
          if (res.status == 200) {
            this.$message.success(res.data.result);
            this.moreSelect = !this.moreSelect;
          }
        });
      } else {
        // 改启动了
        yunwangonOffon().then((res) => {
          if (res.status == 200) {
            this.$message.success(res.data.result);
            yunwangPushMulty().then((res) => {
              if (res.status == 200) {
                this.$message.success(res.data.result);
                this.moreSelect = !this.moreSelect;
              }
            });
          }
        });
      }
    },
    mouseOver(val) {
      if (this.moreSelect) {
        return;
      } else {
        this.xzNum = val;
      }
    },
    mouseLeave() {
      if (this.moreSelect) {
        return;
      } else {
        this.xzNum = 99;
      }
    },
    // handleNodeClick(data) {
    //   console.log(data);
    // },
  },
};
</script>

<style lang="scss" scoped>
.ad_warp {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-image: url("~@/assets/fzbj.png");
  background-size: 100% 100%;
  background-size: cover;
  .ad_box {
    height: calc(100% - 125px);
    display: flex;
    .ad_box_left {
      width: 400px;
      height: 100%;
      border-right: 2px dashed #5caded;
      overflow-y: auto;
      .eltree_box {
        padding: 0 10px;
        & .el-tree {
          background: transparent;
          color: #fff;
        }
        /deep/.el-tree-node__label {
          font-size: 16px;
        }
        /deep/.el-tree-node__content {
          height: 33px;
        }
        /deep/.el-tree-node__content:hover {
          background: #303133cf;
        }
        /deep/.el-tree-node.is-current > .el-tree-node__content {
          background-color: transparent !important;
        }
      }
    }
    .ad_box_right {
      flex: 1;
      height: 100%;
      .zh_btntop {
        display: flex;
        padding: 50px 0 50px 36%;
        .zh_btn,
        .zh_btnsj {
          width: 171px;
          height: 79px;
          background-image: url("~@/assets/单条.png");
          background-size: 100% 100%;
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        .zh_btnsj {
          margin-left: 100px;
          background-image: url("~@/assets/多条.png");
        }
        .zh {
          background-image: url("~@/assets/选中时单条.png");
        }
        .zhsj {
          background-image: url("~@/assets/选中时多条.png");
        }
      }
      .bot_table {
        height: calc(100% - 179px);
        .per_cenBot_ribot {
          height: calc(100% - 23px);
          .table_bt {
            height: 33px;
            line-height: 33px;
            color: #fff;
            background-image: url("~@/assets/组5.png");
            background-size: 100% 100%;
            background-size: cover;
            background-repeat: no-repeat;
            span {
              padding-top: 4px;
              display: inline-block;
              width: 11.1%;
              text-align: center;
            }
          }
          .table_cenwarp {
            height: calc(100% - 45px);
            overflow-y: auto;
            .sj {
              color: #fff;
              line-height: 30px;
              font-size: 14px;
              span {
                display: inline-block;
                width: 11.1%;
                text-align: center;
                vertical-align: middle;
                overflow: hidden; // 溢出部分隐藏
                white-space: nowrap; // 文字不换行
                text-overflow: ellipsis; // 显示省略号
              }
              .span1 {
                color: #81e0ff;
              }
              // .span2 {
              //   overflow: hidden; // 溢出部分隐藏
              //   white-space: nowrap; // 文字不换行
              //   text-overflow: ellipsis; // 显示省略号
              // }
              .yesgz,
              .nogz,
              .noxx {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #0df71b;
              }
              .yesgz {
                background-color: #ec0505;
              }
              .noxx {
                background-color: #909399;
              }
              .spantxt {
                color: #f9e88d;
              }
              .spandocx {
                color: #4c8afc;
              }
              .spanexe {
                color: #eca06e;
              }
              .spanpptx {
                color: #4cfca7;
              }
              .spanbdzt {
                height: 22px;
                img {
                  width: 62px;
                  height: 22px;
                }
              }
              .sj_ys {
                height: 30px;
                background-image: url("~@/assets/矩形747.png");
                background-size: 100% 100%;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }
}
</style>