<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="./static/Cesium/Widgets/widgets.css">
    <script src="./static/config.js"></script>
    <script src="./static/paho-mqtt.js" type="text/javascript"></script> <!-- 引入JS包 -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script src="./static/Cesium/Cesium.js"></script>
    <!-- <script>
        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4ZTU4ZThkYy01NTg1LTRhZjYtOGQ3Ny0'+
'3MTVlMTI4MzA5NjkiLCJpZCI6MTE4MjEsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NTk4MDI0MDB9.FqelmTx7OeJdCLJ_b-PxdZSrSeC0Fd4cA1_os4RctVg';
    </script> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
