<template>
  <div class="home">
    <!-- <div class="header">装备云网融合态势系统</div> -->
    <left />
    <right />
    <div class="topCk">
      <div class="topCkd1">{{ threeServiceArr[0] }} <span>个</span></div>
      <div class="topCkd2">{{ threeServiceArr[1] }} <span>个</span></div>
      <div class="topCkd3">{{ threeServiceArr[2] }} <span>条</span></div>
    </div>
    <div class="bottomCk">
      <div class="bottomCkd1">
        <div>累计操作数</div>
        <div>{{ allCount }} <span>条</span></div>
      </div>
      <div class="bottomCkd2">
        <div>当日操作数</div>
        <div>{{ dayCount }} <span>条</span></div>
      </div>
    </div>
    <div id="cesiumContainer" ref="mainDiv"></div>
    <mq :params="params" @dataChange="dataChange" />
  </div>
</template>

<script>
import url from "@/assets/earth-bg.png";
import { getBSRxyz } from "./flyLine.js";
import light2 from "@/assets/light2.png";
import mq from "../../components/mq.vue";
import {
  onlineService,
  activeService,
  errorService,
  appStartCount,
  getCount,
  yunwanggetUnit,
} from "@/api/index.js";
import left from "./left.vue";
import right from "./right.vue";
export default {
  props: {},
  components: {
    left,
    right,
    mq,
  },
  data() {
    return {
      car_id: 0,
      x1: 116,
      y1: 30,
      imageUrl: url,
      viewerAll: null,
      periodData: 2,
      threeServiceArr: ["---", "---", "---"],
      allCount: "",
      dayCount: "",
      params: {
        mqttIP: "192.168.10.34",
        mqttD: 61614,
        subscribeName: "yunWang",
        userId: "name" + Math.random() * 5000,
      },
      mqttDatassyj: {},
      sendData: [],
      sendData2: [],
      flag: true,
      seriesData: [],
      count: 0,
    };
  },

  mounted() {
    this.getServiceCount();
    // this.init();
    this.getCountFn();
    // setInterval(() => {
    //   this.getCountFn();
    // }, 3000);
    // yunwanggetUnit({ limit: 0 }).then((res) => {
    //   if (res.status == 200) {
    //   }
    // });
    var viewer = new Cesium.Viewer("cesiumContainer", {
      imageryProvider: new Cesium.SingleTileImageryProvider({
        url: this.imageUrl,
      }),
      geocoder: false, //一种地理位置搜索工具，用于显示相机访问的地理位置。默认使用微软的Bing地图。
      homeButton: false, // 首页位置，点击之后将视图跳转到默认视角。
      sceneModePicker: false, // 切换2D、3D 和 Columbus View (CV) 模式。
      baseLayerPicker: true, //选择三维数字地球的底图（imagery and terrain）。
      navigationHelpButton: false, // 帮助提示，如何操作数字地球。
      animation: false, //控制视窗动画的播放速度。
      timeline: false, //展示商标版权和数据源。
      fullscreenButton: false, //展示当前时间和允许用户在进度条上拖动到任何一个指定的时间。
      vrButton: false, //视察全屏按钮。
      selectionIndicator: false, //取消双击锁定，隐藏双击entity时的选中框
      searchButton: false,
      scene3DOnly: false, //每个几何实例将只能以3D渲染以节省GPU内存
      terrainShadows: Cesium.ShadowMode.DISABLED,
      infoBox: false, //是否显示点击要素之后显示的信息
      shadows: false,
      orderIndependentTranslucency: false,
      contextOptions: {
        webgl: {
          alpha: true,
        },
      },
    });
    this.viewerAll = viewer;

    // var stages = viewer.scene.postProcessStages;
    // viewer.scene.brightness = viewer.scene.brightness || stages.add(Cesium.PostProcessStageLibrary.createBrightnessStage());
    // viewer.scene.brightness.enabled = true;
    // viewer.scene.brightness.uniforms.brightness = Number(1.2);

    viewer.scene.skyAtmosphere.show = false;
    viewer.scene.skyBox.show = false;
    viewer.scene.backgroundColor = new Cesium.Color(0.0, 0.0, 0.0, 0.0);
    viewer._cesiumWidget._creditContainer.style.display = "none"; //版权控件的显示隐藏

    //去除实体双击 跟踪
    viewer.cesiumWidget.screenSpaceEventHandler.removeInputAction(
      Cesium.ScreenSpaceEventType.LEFT_DOUBLE_CLICK
    );
    //设置初始位置
    viewer.camera.setView({
      destination: Cesium.Cartesian3.fromDegrees(110.2, 34.55, 25000000),
    });
    viewer._cesiumWidget._creditContainer.style.display = "none"; // 不显示版权信息
    viewer.scene.debugShowFramesPerSecond = true; // 显示参数
  },
  methods: {
    hx(viewer, unitId, endx1, endy1,xColor) {
      // 先添加两个canvas画布
      // 因为画布内变化CallbackProperty监控不到，所以用两个画布切换的方式达成效果
      let link = document.createElement("canvas");
      link.style.width = "700px";
      link.style.height = "100px";
      link.setAttribute("class", "canvas");
      link.setAttribute("id", "canvas-a" + unitId);
      this.$refs.mainDiv.appendChild(link);
      let links = document.createElement("canvas");
      links.style.width = "700px";
      links.style.height = "100px";
      links.setAttribute("class", "canvas");
      links.setAttribute("id", "canvas-b" + unitId);
      this.$refs.mainDiv.appendChild(links);
      // 生成材质
      let i = 700; // 控制图片出现时间
      let colori = xColor;; //"#ffcc00" 控制光效颜色
      let curCanvas = "a"; // 控制canvas的id
      let RandomColorMaterial = new Cesium.ImageMaterialProperty({
        //添加回调
        image: new Cesium.CallbackProperty(() => {
          var canvas = document.getElementById("canvas-" + curCanvas + unitId);
          let cwidth = 300;
          let cheight = 100;
          var ctx = canvas.getContext("2d");
          var img = new Image();
          img.src = light2;
          ctx.clearRect(0, 0, cwidth, cheight);
          img.onload = function () {
            if (i <= cwidth) {
              ctx.drawImage(img, i, -50);
            } else i = -100;
            i += 5; // 控制光效移动速度
          };
          curCanvas = curCanvas === "a" ? "b" : "a"; // 切换画布
          return canvas;
        }, false),
        repeat: new Cesium.Cartesian2(1.0, 1.0),
        transparent: true,
        color: Cesium.Color.fromCssColorString(colori),
        // .withAlpha(1.0)
      });
      viewer.entities.add({
        name: "line",
        polyline: {
          positions: Cesium.Cartesian3.fromDegreesArrayHeights(
            getBSRxyz(endx1, endy1, 116.3, 39.9, 50000)
          ),
          width: 3,
          material: RandomColorMaterial,
        },
      });
      setTimeout(() => {
        viewer.entities.remove(
          viewer.entities.getById(viewer.entities.values[0]._id)
        );
        document.getElementById("canvas-a" + unitId).remove();
        document.getElementById("canvas-b" + unitId).remove();
      }, 2500);
    },
    dataChange(data) {
      
      this.allCount += 1;
      this.dayCount += 1;
      let dataPay = data.payloadString;
      if (dataPay == "Hello") return;
      let dataParamsObj = JSON.parse(dataPay);
      if (dataParamsObj.is_avalible) {
        this.hx(
          this.viewerAll,
          dataParamsObj.car_id,
          dataParamsObj.longitude,
          dataParamsObj.latitude,
          "ffcc00"
        );
      } else {
        this.hx(
          this.viewerAll,
          dataParamsObj.car_id,
          dataParamsObj.longitude,
          dataParamsObj.latitude,
          "#f00"
        );
      }
    },
    async getServiceCount() {
      // 已上线服务数
      await onlineService().then((res) => {
        this.threeServiceArr[0] = res.data.count;
        this.aaa = res.data.count;
      });
      // 正在运行服务数
      await activeService().then((res) => {
        this.threeServiceArr[1] = res.data.count;
      });
      // 已故障待维修服务数
      await errorService().then((res) => {
        this.threeServiceArr[2] = res.data.count;
      });
      this.$forceUpdate();
    },
    async getCountFn() {
      const { data: allCount } = await getCount({ limit: 0 });
      const { data: dayCount } = await getCount({ limit: 1 });

      this.allCount = allCount.count;
      this.dayCount = dayCount.count;
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  position: relative;
  // background: url("~@/assets/bgnew.png");
  background-size: 100% 100%;
  // .header{
  //   z-index: 10000;
  //   color: #fff;
  // }
}
@keyframes earth-move {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#cesiumContainer {
  position: absolute !important;
  left: 0px;
  top: 0px;
  /* left: 50%;
    margin-left: -500px; */
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  background: url("~@/assets/bgnew.png");
  // transform: scale(0);
  // animation: earth-move 1s ease-in-out 1s forwards;
  /deep/ .cesium-viewer-toolbar {
    display: none !important;
  }
  /deep/.cesium-performanceDisplay-defaultContainer {
    display: none !important;
  }
}
.topCk > div {
  width: 215px;
  height: 51px;
  padding: 25px 2px 0px 58px;
  font-weight: 700;
  color: #fff;
}
.topCk > div > span {
  font-size: 12px;
  color: #d5d5d5;
}
.topCk {
  position: absolute;
  z-index: 3;
  left: 498px;
  top: 86px;
  .topCkd1 {
    background: url("~@/assets/apps.png");
    background-size: 100% 100%;
  }
  .topCkd2 {
    background: url("~@/assets/zxdw.png");
    background-size: 100% 100%;
    margin-top: 10px;
  }
  .topCkd3 {
    background: url("~@/assets/yhcz.png");
    background-size: 100% 100%;
    margin-top: 10px;
  }
}
.bottomCk {
  position: absolute;
  z-index: 3;
  width: 40%;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);
  left: 50%;
  bottom: 46px;
  .bottomCkd1 {
    position: relative;
    width: 200px;
    height: 70px;
    background: url("~@/assets/lj.png");
    background-size: 250% 250%;
    background-position: 50% -88%;
    width: 200px;
    height: 70px;
  }
  .bottomCkd1 > div:first-child {
    text-align: center;
    color: #2ad0fd;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .bottomCkd1 > div:last-child {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }
  .bottomCkd1 > div > span {
    font-size: 12px;
    color: #d5d5d5;
  }
  .bottomCkd2 {
    position: relative;
    background: url("~@/assets/dy.png");
    background-size: 250% 250%;
    background-position: 50% -88%;
    width: 200px;
    height: 70px;
  }
  .bottomCkd2 > div:first-child {
    text-align: center;
    color: #aeea00;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .bottomCkd2 > div:last-child {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }
  .bottomCkd2 > div > span {
    font-size: 12px;
    color: #d5d5d5;
  }
  //   .bottomImg{
  // transform: translate(-50%,-50%);
  //   }
}
</style>
