<template>
  <div>
    <div class="home_left">
      <!-- 交互播报 -->
      <div class="left_d1">
        <img class="left_bgimg" src="../../assets/jhbb.png" alt="" />
        <div class="d1_table">
          <div class="table_header">
            <div>应用名称</div>
            <div>用户</div>
            <div>交互时间</div>
            <!-- <div>操作</div> -->
          </div>
          <!--  -->
          <div class="table_bo">
            <div v-for="(item, i) of eventList" :key="i" class="table_body">
              <div>{{ item.app_name }}</div>
              <div style="color: #d5d5d5">{{ item.user_name }}</div>
              <div style="color: #d5d5d5">{{ item.time }}</div>
              <!-- <div style="color: #d5d5d5">{{ item.event }}</div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- 应用活跃度 -->
      <div class="left_d2">
        <img class="left_bgimg" src="../../assets/yyhyd.png" alt="" />
        <div class="left_bottom">
          <div class="content">
            <div
              class="item"
              v-for="(item, index) of appHighArray"
              :key="index"
            >
              <div
                class="order"
                :class="
                  index == 0
                    ? 'first'
                    : index == 1
                    ? 'second'
                    : index == 2
                    ? 'third'
                    : ''
                "
              >
                {{ index + 1 }}
              </div>
              <div class="app_name">{{ item.app_name }}</div>
              <div class="count">{{ item.count }}次安装</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 操作数量 -->
      <div class="left_d3">
        <img class="left_bgimg" src="../../assets/czsl.png" alt="" />
        <div id="czslEch"></div>
      </div>
    </div>
    <!-- <div class="home_right">
      <div class="right_d1"></div>
      <div class="right_d2"></div>
      <div class="right_d3"></div>
    </div> -->
  </div>
</template>

<script>
import { appUser, appStartStatistics, getEvent } from "@/api/index.js";
export default {
  props: {},
  components: {},
  computed: {},
  data() {
    return {
      d1Data: [
        { yy: "xxxx应用", yh: "1234", date: "15:22:37", zz: "openApp" },
        { yy: "xxxx应用", yh: "1234", date: "15:22:37", zz: "openApp" },
        { yy: "xxxx应用", yh: "1234", date: "15:22:37", zz: "openApp" },
        { yy: "xxxx应用", yh: "1234", date: "15:22:37", zz: "openApp" },
        { yy: "xxxx应用", yh: "1234", date: "15:22:37", zz: "openApp" },
      ],
      total: 23620,
      d2Data: [
        { yy: "某某某应用", num: 23620 },
        { yy: "某某某应用", num: 20620 },
        { yy: "某某某应用", num: 19620 },
        { yy: "某某某应用", num: 18620 },
        { yy: "某某某应用", num: 15620 },
        { yy: "某某某应用", num: 13620 },
        { yy: "某某某应用", num: 12620 },
        { yy: "某某某应用", num: 9620 },
        { yy: "某某某应用", num: 8620 },
        { yy: "某某某应用", num: 5620 },
      ],
      currentSelect: "0",
      appHighArray: [],
      time: 10000,
      dataList: [],
      eventList: [],
      allCount: "",
      dayCount: "",
    };
  },
  created() {},
  mounted() {
    this.getSystemCount();
    this.getAppUser();
    this.getEventFn();
    setInterval(() => {
      this.getEventFn();
      this.getSystemCount();
    }, 3000);
  },
  watch: {},
  methods: {
    init() {
      let myChart = this.$echarts.init(document.getElementById("czslEch"));
      let xData = [];
      let dataCar = [];
      this.dataList.forEach((item) => {
        xData.unshift(item.date);
        dataCar.unshift(item.count);
      });
      let option = {
        grid: {
          top: "10%",
          left: "8%",
          right: "2%",
          bottom: "0%",
          containLabel: true,
        },
        tooltip: {
          trigger: "axis",
        },
        calculable: true,
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: xData,
          nameTextStyle: {
            color: "#999",
            fontSize: 12,
          },
          axisLabel: {
            textStyle: {
              //改变xy轴上文字的颜色
              color: "#FFF",
            },
            rotate: 25,
          },
          axisLine: {
            //x轴轴线
            lineStyle: {
              color: "#999",
              width: 2,
            },
          },
          axisTick: {
            //刻度线
            show: false,
          },
        },
        yAxis: {
          type: "value",
          nameTextStyle: {
            color: "#999",
            fontSize: 14,
          },
          axisLabel: {
            textStyle: {
              //改变xy轴上文字的颜色
              color: "#FFF",
            },
          },
          axisLine: {
            //x轴轴线
            lineStyle: {
              color: "#999",
              width: 0,
            },
          },
          splitLine: {
            //网格线
            show: true,
            lineStyle: {
              color: "#315070",
              width: 1,
            },
          },
        },
        series: [
          {
            name: "",
            type: "line",
            smooth: true,
            barWidth: 10,
            symbol: "none",
            barWidth: 10, //柱图宽度
            itemStyle: {
              normal: {
                show: true,
                color: "rgba(2, 167, 240,0.3)", //边的颜色
              },
            },
            lineStyle: {
              normal: {
                color: "#02a7f0f2", // 线条颜色
              },
            },
            areaStyle: {
              normal: {
                color: this.$echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0.8,
                      color: "rgba(2, 167, 240,0.2)",
                    },
                    {
                      offset: 0,
                      color: "rgba(2, 167, 240,0.7)",
                    },
                  ],
                  false
                ),
                shadowColor: "rgba(0, 0, 0, 0.1)",
                shadowBlur: 10,
              },
            },
            data: dataCar,
          },
        ],
      };
      myChart.setOption(option, true);
    },
    changeSelect(num) {
      this.currentSelect = num;
      if (num == 0) {
        this.time = 10000;
      }
      if (num == 1) {
        this.time = 30;
      }
      if (num == 2) {
        this.time = 7;
      }
      if (num == 3) {
        this.time = 1;
      }
      this.getAppUser();
    },

    async getEventFn() {
      const { data: res } = await getEvent({ limit: 5 });
      res.forEach((item) => {
        if (item.time) {
          item.time = this.$moment(item.time).format("YYYY-MM-DD HH:mm:ss");
        }
      });
      this.eventList = res;
    },
    getAppUser() {
      appUser({ time: this.time, limit: 14 }).then((res) => {
        this.appHighArray = res.data;
      });
    },
    // 应用启动变化趋势   limit为横坐标天数的数量
    getSystemCount() {
      appStartStatistics({ limit: 3 }).then((res) => {
        this.dataList = res.data;
        this.dataList = this.dataList.reverse();
        // console.log(this.dataList,'sadasdsa');
        this.init();
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.home_left {
  font-size: 15px;
  color: #fff;
  width: 460px;
  position: absolute;
  height: calc(100% - 86px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  top: 76px;
  z-index: 3;
}
.home_left {
  left: 5px;
}

.home_left > div {
  width: 100%;
  position: relative;
}
.left_bgimg {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.left_d1 {
  height: 266px;
}
.left_d2 {
  height: 391px;
  overflow: hidden;
  .left_bottom {
    width: 471px;
    .content {
      height: 300px;
      overflow-y: scroll;
      margin-top: 80px;
      padding: 0px 20px 0 20px;
      // overflow-y: scroll;
      // overflow-x: scroll;
      .item {
        color: #fff;
        display: flex;
        padding: 0 10px;
        margin-top: 0px;
        height: 26px;
        line-height: 30px;
        &:hover {
          background-image: linear-gradient(
            to right,
            rgb(10, 30, 60),
            rgb(15, 45, 86),
            rgb(10, 30, 60)
          );
        }
        .order {
          margin-left: 20px;
          width: 17px;
          &.first,
          &.second,
          &.third {
            width: 17px;
            height: 17px;
            background-color: rgb(21, 123, 201);
            position: relative;
            top: 6px;
            left: -4px;
            line-height: 17px;
            text-align: center;
          }
          &.second {
            background-color: rgb(31, 77, 140);
          }
        }
        .app_name {
          margin-left: 40px;
          width: 120px;
          color: #81e0ff;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .count {
          margin-left: 110px;
        }
      }
    }
  }
}
.left_d3 {
  height: 277px;
}

.d1_table {
  margin-top: 60px;
  width: 100%;
  padding: 8px 4px 8px 28px;
  height: 187px;
}
.table_bo {
  height: 166px;
  overflow: auto;
}
.table_header,
.table_body {
  height: 32px;
  display: flex;
  padding: 5px 0;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #b7d2e0;
}
.table_body {
  font-style: normal !important;
}
.table_body > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table_header > div:nth-child(1),
.table_body > div:nth-child(1) {
  width: 27%;
}
.table_header > div:nth-child(2),
.table_body > div:nth-child(2) {
  width: 22%;
}
.table_header > div:nth-child(3),
.table_body > div:nth-child(3) {
  width: 50%;
}
.table_header > div:nth-child(4),
// .table_body > div:nth-child(4) {
//   width: 24%;
// }
.yyBody {
  width: 100%;
  margin-top: 66px;
  padding: 3px 10px 10px 17px;
}
.yyitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.6px 0px;
  .itemIndex {
    text-align: center;
    width: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #b7d2e0;
  }
  .itemName {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #b7d2e0;
    width: 80px;
  }
  .itemLine {
    width: 244px;
    height: 20px;
    position: relative;
    .LineBg {
      // display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .LineBg > img {
      margin-left: 4px;
    }
    .Line {
      // display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .Line > img {
      margin-left: 4px;
    }
  }
  .itemNum,
  .itemNum2 {
    width: 60px;
    height: 22px;
    background-color: rgba(42, 208, 253, 0.3);
    border: solid 1px #2ad0fd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    border-radius: 6px;
  }
  .itemNum2 {
    background-color: rgba(174, 234, 0, 0.3);
    border: solid 1px #aeea00;
  }
}
#czslEch {
  padding: 10px;
  width: 100%;
  height: 221px;
  margin-top: 58px;
}
</style>
