<template>
  <div class="home_right">
    <div class="right_top">
      <img class="left_bgimg" src="../../assets/yyfl.png" alt="" />
      <div id="assets1"></div>
    </div>
    <div class="right_bottom">
      <img class="left_bgimg" src="../../assets/yhpj.png" alt="" />
      <div class="topBtn">
        <div
          class="btn"
          v-for="(item, i) of appList"
          :key="i"
          @click="select(item)"
          :class="avtiveBtn == item.app_id ? 'active' : ''"
        >
          {{ item.app_name }}（{{ item.count }}）
        </div>
      </div>
      <div class="title">评价信息</div>
      <div class="pjContent">
        <div class="item" v-for="(item, i) of plList" :key="i">
          <div class="icon"></div>
          <div class="star">
            <el-rate v-model="item.score" disabled> </el-rate>
          </div>
          <div class="date">{{ item.dateCopy }}</div>
          <div class="detail">
            {{ item.comment }}
          </div>
          <div class="light"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  serviceType,
  highScoreApp,
  commentSum,
  getCommentList,
} from "@/api/right.js";
export default {
  data() {
    return {
      serviceTypeArr: [],
      appList: [],
      plList: [],
      avtiveBtn: null,
      appObj: {
        pageNum: 1,
        limit: 10,
        sort: "date",
        order: "desc",
        appId: null,
      },
    };
  },
  mounted() {
    this.init();
    this.first();
  },
  methods: {
    init() {
      // 服务类型
      serviceType().then((res) => {
        if (res.status == 200) {
          this.serviceTypeArr = res.data;
          this.sjzcBnfb();
        }
      });
      highScoreApp({ limit: 3 }).then((res) => {
        if (res.data.length > 0) {
          this.appList = res.data;
        }
      });
    },
    select(data) {
      if (this.avtiveBtn == data.app_id) {
        this.avtiveBtn = null;
        this.first();
      } else {
        this.avtiveBtn = this.appList[0].app_id;
        this.avtiveBtn = data.app_id;
        this.result(data.app_id);
      }
    },
    first() {
      commentSum({ num: 10 }).then((res) => {
        res.data.forEach((item) => {
          if (item.date) {
            item.dateCopy = this.$moment(item.date).format(
              "YYYY-MM-DD HH:mm:ss"
            );
          }
        });
        this.plList = res.data;
      });
    },
    result(data) {
      this.appObj.appId = data;
      // 用户评价;
      getCommentList(this.appObj)
        .then((res) => {
          res.data.data.forEach((item) => {
            if (item.date) {
              item.dateCopy = this.$moment(item.date).format(
                "YYYY-MM-DD HH:mm:ss"
              );
            }
          });
          this.plList = res.data.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    sjzcBnfb() {
      let assets1Echarts = this.$echarts.init(
        document.getElementById("assets1")
      );
      let xData3 = [];
      let yData3 = [];
      this.serviceTypeArr.forEach((item) => {
        xData3.push(item.name);
        yData3.push(item.count);
      });
      let option5 = {
        tooltip: {
          show: true,
        },
        grid: {
          left: "6%",
          right: "0%",
          bottom: "1%",
          top: "10%",
          containLabel: true,
        },
        animation: false,
        xAxis: [
          {
            type: "category",
            data: xData3,
            axisTick: {
              alignWithLabel: true,
            },

            axisLine: {
              show: true,
              lineStyle: {
                color: "#26b4e9",
              },
            },
            axisLabel: {
              textStyle: {
                color: "#a4d5fb",
                fontSize: 14,
              },
            },
            axisTick: {
              show: false, //隐藏X轴刻度
            },
          },
        ],
        yAxis: [
          {
            show: true,
            type: "value",
            axisLabel: {
              textStyle: {
                color: "#fff",
              },
            },
            splitLine: {
              lineStyle: {
                color: "#0c2c5a",
              },
            },
            axisLine: {
              show: false,
            },
          },
        ],
        series: [
          {
            type: "bar",
            barWidth: "20",
            label: {
              normal: {
                show: true,
                position: "top",
                fontSize: 15,
                fontWeight: "bold",
                color: "#34DCFF",
              },
            },
            itemStyle: {
              normal: {
                color: "#4ad2ff",
              },
            },
            data: yData3,
          },
        ],
      };
      assets1Echarts.setOption(option5);
    },
  },
};
</script>

<style lang="scss" scoped>
.left_bgimg {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.home_right {
  font-size: 15px;
  color: #fff;
  width: 460px;
  position: absolute;
  height: calc(100% - 86px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  top: 76px;
  z-index: 3;
  right: 5px;
  .right_top {
    width: 100%;
    height: 277px;
    #assets1 {
      top: 66px;
      width: 100%;
      height: 201px;
    }
  }
  .right_bottom {
    width: 100%;
    height: 689px;
    padding-right: 10px;
    // background: url("~@/assets/service/right_bottom_bg.png") no-repeat;
    .topBtn {
      margin-left: 34px;
      margin-top: 74px;
      display: flex;
      .btn {
        width: 113px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        margin-right: 25px;
        cursor: pointer;
        padding-left: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: url("~@/assets/kuang.png") no-repeat;
      }
      .active {
        background: #36b6e0;
      }
    }
    .title {
      width: 97px;
      height: 23px;
      font-size: 14px;
      text-align: center;
      line-height: 23px;
      font-weight: bold;
      font-style: oblique;
      color: #fff;
      margin-left: 15px;
      margin-top: 20px;
      background: url("~@/assets/title.png") no-repeat;
    }
    .pjContent {
      color: #fff;
      margin-top: 20px;
      padding: 0 20px;
      font-size: 14px;
      height: 480px;
      // overflow: scroll;
      overflow-y: scroll;
      overflow-x: hidden;
      .item {
        height: 100px;
        position: relative;
        margin-top: 20px;
        .icon {
          width: 26px;
          height: 28px;
        }
        .star {
          position: absolute;
          left: 34px;
          top: -4px;
          font-size: 18px;
        }
        .date {
          position: absolute;
          right: 8px;
          top: 2px;
          color: #ccc;
        }
        .detail {
          position: absolute;
          left: 37px;
          top: 23px;
          width: 370px;
        }
        .light {
          position: absolute;
          top: 98px;
          left: -6px;
          width: 458px;
          height: 2px;
          background: url("~@/assets/light.png") no-repeat;
        }
      }
    }
  }
}
.home_right > div {
  width: 100%;
  position: relative;
}
</style>