<template>
  <div
    :class="
      inputName == 0
        ? 'header headerzt'
        : inputName == 1
        ? 'header headersj'
        : inputName == 2
        ? 'header headerry'
        : 'header'
    "
  >
    <div class="gdm_tim">
      <div class="tim_warp">
        <div class="tim_left">
          {{ dqTime.hours }}:{{ dqTime.minutes }}:{{ dqTime.seconds }}
        </div>
        <div class="tim_right">
          <p>{{ dqTime.dqWeek }}</p>
          <p>{{ dqTime.year }}年{{ dqTime.month }}月{{ dqTime.dates }}日</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    inputName: Number,
  },
  components: {},
  computed: {},
  data() {
    return {
      dsqTime: null,
      dqTime: {
        dqWeek: "",
        year: "",
        month: "",
        dates: "",
        hours: "",
        minutes: "",
        seconds: "",
      },
    };
  },
  created() {},
  mounted() {
    this.getData();
    this.dsSetinit();
  },
  watch: {},
  methods: {
    // 获取时间
    getData() {
      var timestamp = new Date();
      // 获取周几
      this.dqTime.dqWeek = this.$gf.getCurrentDate(timestamp.getTime());
      this.dqTime.year = timestamp.getFullYear(); //获取当前年份
      this.dqTime.month =
        timestamp.getMonth() + 1 < 10
          ? "0" + (timestamp.getMonth() + 1)
          : timestamp.getMonth() + 1; //获取当前月份（记得+1）
      this.dqTime.dates =
        timestamp.getDate() < 10
          ? "0" + timestamp.getDate()
          : timestamp.getDate(); //获取当前是几日
      this.dqTime.hours =
        timestamp.getHours() < 10
          ? "0" + timestamp.getHours()
          : timestamp.getHours(); //获取系统时，
      this.dqTime.minutes =
        timestamp.getMinutes() < 10
          ? "0" + timestamp.getMinutes()
          : timestamp.getMinutes(); //分
      this.dqTime.seconds =
        timestamp.getSeconds() < 10
          ? "0" + timestamp.getSeconds()
          : timestamp.getSeconds(); //秒
    },
    // 开启定时器
    dsSetinit() {
      this.dsqTime = setInterval(() => {
        this.getData();
      }, 1000);
    },
  },
  beforeDestroy() {
    if (this.dsqTime) {
      //如果定时器还在运行 或者直接关闭，不用判断
      clearInterval(this.dsqTime); //关闭
    }
  },
};
</script>

<style lang="scss" scoped>
.header {
  // background: url("~@/assets/platform/平台资源.png");
  width: 1920px;
  height: 82px;
  text-align: right;
  color: #fff;
  position: relative;
  .gdm_tim {
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 35px;
    height: 60px;
    .tim_warp {
      display: flex;
      width: 231px;
    }
    .tim_left {
      width: 97px;
      height: 17px;
      font-family: ArialMT;
      font-size: 22px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      color: #c6def7;
      margin-right: 15px;
      padding-top: 10px;
    }
    .tim_right {
      p {
        text-align: left;
        line-height: 20px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #c6def7;
      }
    }
  }
}
.headerry {
  // background-image: url("~@/assets/platform/人员终端.png");
}
.headersj {
  // background-image: url("~@/assets/platform/数据交互.png");
}
.headerzt {
  // background-image: url("~@/assets/platform/主头.png");
}
</style>
