<template>
  <div></div>
</template>

<script>
export default {
  props: {
    params: Object,
  },
  components: {},
  computed: {},
  data() {
    return {};
  },
  created() {},
  mounted() {
    this.mqttMSG();
  },
  watch: {},
  methods: {
    mqttMSG() {
      // // Create a client instance
      let client;
      client = new Paho.MQTT.Client(
        this.params.mqttIP,
        Number(this.params.mqttD),
        this.params.userId
      );

      // set callback handlers
      client.onConnectionLost = onConnectionLost;
      client.onMessageArrived = this.onMessageArrived;
      // connect the client
      client.connect({
        // called when the client connects
        onSuccess: () => {
          let message;
          // Once a connection has been made, make a subscription and send a message.
          console.log("onConnect");
          client.subscribe(this.params.subscribeName);
          message = new Paho.MQTT.Message("Hello");
          message.destinationName = this.params.subscribeName;
          client.send(message);
        },
        userName: "clay",
        password: "11223344",
      });
      // called when the client loses its connection
      function onConnectionLost(responseObject) {
        if (responseObject.errorCode !== 0) {
          console.log("onConnectionLost:" + responseObject.errorMessage);
        }
      }
      // called when a message arrives
    },
    onMessageArrived(message) {
      this.$emit("dataChange", message);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
