<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  width: 100%;
  height: 100%;
  //   width: 1920px;
  // height: 1080px;
}
body,html{
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
}
</style>
